[Unit]

Description=A very nize Minecraft Server configured by kleberboy


Wants=network.target

After=network.target



[Service]

User=minecraft

Group=minecraft

Nice=-20

EnvironmentFile=-/opt/minecraft-server/server/skytekx2-server/unit.conf

KillMode=none

SuccessExitStatus=0 1


ProtectHome=true

ProtectSystem=false

PrivateDevices=true

NoNewPrivileges=true

PrivateTmp=true

InaccessibleDirectories=/bin /boot /mnt /sbin /root /sys /srv -/var /media -/lost+found


ReadWriteDirectories=/opt/minecraft-server/server/skytekx2-server

WorkingDirectory=/opt/minecraft-server/server/skytekx2-server

ExecStart=/usr/lib/jvm/java-8-openjdk-amd64/jre/bin/java -XX:+UseG1GC -XX:StringTableSize=1000003 -XX:+UseFastAccessorMethods -XX:+OptimizeStringConcat -XX:MetaspaceSize=512m -XX:MaxMetaspaceSize=4096m -XX:+AggressiveOpts -XX:MaxGCPauseMillis=50 -XX:+UseStringDeduplication -Xms13312M -Xmx15360M -XX:hashCode=5 -Dfile.encoding=UTF-8 -jar run.jar --log-strip-color nogui --noconsole

ExecStop=/usr/local/bin/mcrcon -H localhost -P 65535 -p Monopoly stop

Restart=always

RestartSec=3


[Install]

WantedBy=multi-user.target
